@main("About") {
<h2 class="title">About</h2>
<p>     Jasper Wagen is a budding software developer based in Bristol, England. He first
    gained development experience as an Engineering Undergraduate at the University of
    the West of England. Most recently he has gained employment at HMRC Digital as a
    DevOps Apprentice.</p>
<h2 class="title">Contact</h2>
<h3 class="title">Get in Touch</h3>
<ul>
    <li>Email: jasperwagen@@outlook.com</li>
    <li>Phone: +447757083227</li>
    <li>Github: <a href="https://github.com/JasperWagen">JasperWagen</a></li>
</ul>
}