@(title: String)(content: Html)

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <div class="topnav">
            <a href = "@routes.blogController.about()">About</a>
            <a href = "@routes.blogController.genart">Generative Art</a>
        </div>
        <div class="page">
            <h1 class="title">Jasper Wagen</h1>
            <h2 class="title">Software Developer. Python, Java, Scala (hopefully).</h2>
            <br>
            @content
        </div>
    </body>
</html>
